<div  class="top" >
	<div class="message">
		<p class="name">{{resume.name}}</p>
		<p class="profession">{{resume.profession}}</p>
	</div>
	<ul class="personal">
		<li class="personalList"><img src="../images/email.png"><span>{{resume.email}}</span></li>
		<li class="personalList"><img src="../images/wechat.png"><span>{{resume.wechat}}</span></li>
		<li class="personalList"><img src="../images/github.png"><span>{{resume.github}}</span></li>
		<li class="personalList"><img src="../images/telephone.png"><span>{{resume.telephone}}</span></li>
		<li class="personalList"><img src="../images/education.png"><span>{{resume.school}}</span></li>
	</ul>
	<div class="photo">
		<img src="../images/me.jpg" alt="my personal photo">
	</div>
	
</div>