@import "common.scss";
@import "top.scss";
@import "workExperience.scss";
@import "frontEnd.scss";
@import "otherSkill.scss";
@import "project.scss";
@import "school.scss";
/* 
a.itemRight{
	display:none;
} */
.webResume{
	display:none;
}
.wrapper{
	width:100%;
	margin:0 auto;
	padding-bottom: 20px;
    }

#content{
	padding:10px 20px;
	@include clearfix;
}

.left,.right{
	padding-right:20px;
}

@media screen and (min-width:800px) {
	.wrapper{
		max-width: 1000px;
	    }
	.top{
		position: relative;
	}
	.top .message{
		width:200px;
		text-align:center;
		@include middle;
	}
	.left,.right{
		width:50%;
		float:left;
		@include clearfix;
	}
}



@media  (min-width:680px) and (max-width:800px) {
	.left,.right{
	width:100%;
	}
	.left {
	padding-right:20px;}	
	.right>div{
		margin-top:10px;
	}
	.message{
		float: right;
		margin-right: 40px;
	}
	.top .webResume{
		display: none;
		margin-right: 40px;
	}
}


@media  (min-width:530px) and (max-width:680px) {
	.left,.right{
		width:100%;
	}
	.left {
	padding-right:20px;}	
	.right>div{
		margin-top:10px;
	}
	.message{
		float: right;
		margin-right: 40px;
	}
	.webResume{
		display: none;
	}
	.photo{
		display: none;
	}
}
@media screen and (max-width:530px){
	.left,.right{
		width:100%;
	}
	.left {
	padding-right:20px;}	
	.right>div{
		margin-top:10px;
	}
	.webResume{
		display: none;
	}
	.photo{
		display: none;
	}
	.top .personal{
		float:none;
		width:300px;
		margin: 0 auto;
	}
    #content{
    	padding:10px 0px 10px 10px;
    }
	.top .message{
		float: none;
		width: 100%;
		text-align: center;
	}
	.wrapper{
		min-width: 320px;
	}
}